{% extends "base.html" %}
<!-- extend Content  -->

{% block content %}
<!-- Base Content -->

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum
            quo sequi odit ea consequuntur. Enim blanditiis nulla similique
            reprehenderit aut tempora velit perferendis repellat a neque!
            Perferendis, nostrum alias! Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Est facilis praesentium cum adipisci nulla iste
            excepturi aliquam pariatur asperiores vitae enim dolores, tempore
            libero debitis quo, deserunt quasi veritatis similique!
          </p>
          <div>
            <a href="#" class="btn btn-success">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="#" class="btn btn-danger"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
