{% extends "base.html" %}
<!-- extend Content  -->
{% block content %}
<!-- Content -->
<div class="container">
  <div class="row">
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/2724749/pexels-photo-2724749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 1"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="{% url 'details' %}" class="btn btn-info">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/259962/pexels-photo-259962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 2"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'details' %}" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/2724749/pexels-photo-2724749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 1"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'details' %}" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/259962/pexels-photo-259962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 2"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'details' %}" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/2724749/pexels-photo-2724749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 1"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'details' %}" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
    <!-- start col -->
    <div class="col-lg-4 mb-5 mt-5">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.pexels.com/photos/259962/pexels-photo-259962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="card-img-top"
          alt="Home 2"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'details' %}" class="btn btn-success">
            <i class="fa-regular fa-thumbs-up"></i>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
{% endblock content %}
